{% extends '::base.html.twig' %}

{% block body -%}
    <h1>Board</h1>

    {% for tasks in entity.task %}
        <li>{{ tasks.name }}</li>
    {% endfor %}

    {% for member in entity.user %}
        <p><span>Creator: {{member.username}}</span></p>
    {% endfor %}


    <p><span>Id</span> {{ entity.id }}</p>
    <p><span>Name</span> {{ entity.name }}</p>

        <ul class="record_actions">
    <li>
        <a href="{{ path('board') }}">
            Back to the list
        </a>
    </li>
    <li>
        <a href="{{ path('board_edit', { 'id': entity.id }) }}">
            Edit
        </a>
    </li>
    <li>
        <a href="/task/new">Créer une nouvelle tache</a>
    </li>
    <li>{{ form(delete_form) }}</li>
</ul>
{% endblock %}
