{% extends '::base.html.twig' %}

{% block body -%}
    <h1>Task</h1>

   
    <p><span>Board</span> {{ entity.board }}</p>
    <p><span>Id</span> {{ entity.id }}</p>
    <p><span>Name</span> {{ entity.name }}</p>

         



        <ul class="record_actions">
    <li>
        <a href="{{ path('task') }}">
            Back to the list
        </a>
    </li>
    <li>
        <a href="{{ path('task_edit', { 'id': entity.id }) }}">
            Edit
        </a>
    </li>
    <li>{{ form(delete_form) }}</li>
</ul>
{% endblock %}
